// Colors
$grey: #333333;
$blue: #2199e8;
$glory-blue:rgba(0,33,71,1);
$glory-red: rgba(224,22,43,1);
$font-color: #333333;

//Navigation colors
$nav-background: $grey;
$nav-text-color: white;
$nav-name: $blue;

// Gradient Background
$background-gradient-one: #8e9eab; /* fallback for old browsers */
$background-gradient-two: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
$background-gradient-three: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





// background: #E0EAFC; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); Chrome 10-25, Safari 5.1-6
// background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// blue sky background



// background: #000000; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #000000 , #434343); Chrome 10-25, Safari 5.1-6
// background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background dark sky        



// background: #70e1f5; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); Chrome 10-25, Safari 5.1-6
// background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// shore color        



// background: #E0EAFC; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 // colors of sky  



// background: #EDE574; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #EDE574 , #E1F5C4); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #EDE574 , #E1F5C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// Sunny Days             



// background: #8e9eab; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// portrait        